@import url(../global.css);
@import url(../components/menu.css);
@import url(../components/header.css);
@import url(../components/footer.css);
@import url(../components/buttons.css);

.menu nav a:nth-child(1):after {
    content: "";
    height: 2px;
    width: auto;
    background-color: var(--w);
    display: block;
}

.menu nav a:nth-child(1):hover:after {
    background-color: var(--p1);
    transition: 0.2s;
}

.bike {
    background-color: var(--c11);
}

.bike-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-content: start;
}

.images li img {
    border-radius: 5px;
    height: 100%;
}

.images li:first-child {
    grid-column: 1 / -1;
}

.dados {
    display: grid;
    grid-template-columns: 1fr;
}

.dados > p {
    font-size: 1.5rem;
    line-height: 1.5;
    color: var(--c5);
    max-width: 40ch;
    margin-bottom: 32px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: start;
    align-items: center;
    margin-bottom: 64px;
}

.buttons li:not(:first-child) {
    background-color: var(--c12);
    color: var(--c6);
    border-radius: 5px;
    padding: 4px;
    font-size: 0.75em;
}

.buttons li:nth-child(1) {
    margin-right: 12px;
    grid-row: 1 / 3;
}

.buttons li:nth-child(2) {
    grid-area: 1 / 2;
    margin-bottom: auto;
    display: flex;
    gap: 8px;
}

.buttons li:nth-child(2)::before {
    content: url(../../img/icons/entrega.svg);
    height: 16px;
}

.buttons li:nth-child(3) {
    grid-area: 2 / 2;
    margin-top: auto;
    display: flex;
    gap: 8px;
}

.buttons li:nth-child(3)::before {
    content: url(../../img/icons/estoque.svg);
    height: 16px;
}

.buttons li:nth-child(2):hover {
    background-color: var(--c13)
}

.buttons li:nth-child(3):hover {
    background-color: var(--c14);
}

.info {
    background-color: var(--c12);
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 32px;
    border-radius: 5px;
    gap: 32px;
    align-items: end;
    margin-bottom: 64px;
}

.info::before {
    content: "INFORMAÇÕES";
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 0.75em;
    color: var(--w);
    position: absolute;
    top: -24px;
}

.info p {
    font-size: 0.8em;
    color: var(--c5);
}

.info h3 {
    font-size: 1.125em;
    color: var(--w);
}

.info li:nth-child(1)::before {
    content: url(../../img/icons/eletrica.svg);
}

.info li:nth-child(2)::before {
    content: url(../../img/icons/velocidade.svg);
}

.info li:nth-child(3)::before {
    content: url(../../img/icons/rastreador.svg);
}

.info li:nth-child(4)::before {
    content: url(../../img/icons/carbono.svg);
}

.ficha {
    padding: 32px;
    background-color: var(--c12);
    border-radius: 5px;
    position: relative;
    margin-bottom: 60px;
}

.ficha::before {
    content: "FICHA TÉCNICA";
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 0.75em;
    color: var(--w);
    position: absolute;
    top: -24px;
    left: 0px;
}

.ficha tr {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
}

.ficha tr:not(:last-child) {
    border-bottom: solid 2px var(--c11);
}

.ficha th {
    color: var(--c4);
    font-weight: 400;
}
.ficha td {
    color: var(--c6);
}

@media(max-width: 800px) {
    .bike-content {
        grid-template-columns: 1fr;
        padding: 20px;
    }
}

@media(max-width: 600px) {
    .images {
        gap: 8px
    }
}

@media(max-width: 420px) {
    .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-items: start;
        gap: 8px;
    }
}