.dados {
    padding: 60px;
}

.form {
    box-shadow: inset 0px 40vh 0px var(--c11);
}

.form .content {
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: var(--shadow);
    margin-bottom: 120px;
    background-color: var(--w);
}

.form label {
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    color: var(--c11);
    font-weight: 600;
}

.form input, .form select {
    background-color: var(--c1);
    width: auto;
    border-radius: 5px;
    border: solid 1px var(--c2);
    padding: 12px;
    font-size: 1em;
    font-family: "Poppins", sans-serif;
}

.form div, .form input, .form select {
    width: 100%;
}

.form h3 {
    font-family: "Poppins", sans-serif;
    color: var(--c9);
    font-size: 0.75em;
    text-transform: uppercase;
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: -12px;
}

.form h3::before {
    content: "";
    width: 4px;
    height: 8px;
    background-color: var(--p1);
}

.dados-pessoais, .dados-entrega {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    align-items: start;
    gap: 20px;
}

.dados-pessoais {
    margin-bottom: 60px;
}

.dados-pessoais div:nth-child(4), .dados-pessoais div:nth-child(5){
    grid-column: 1 / -1;
}

.dados-entrega div:last-child {
    grid-column: 1 / -1;
    display: flex;
    gap: 12px;
    align-items: center;
}

.dados-entrega div:last-child input {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    border: solid 1px var(--c2);
}

.dados-entrega div:last-child input:checked {
    accent-color: var(--p1);
}

.dados a {
    margin-top: 20px;
    color: var(--c11);
    font-weight: 1em;
}

.dados a:hover {
    color: var(--c8);
}