.menu {
    background-color: var(--c12);
    padding: 20px;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px 8px 0px;
}

.menu nav {
    display: flex;
    gap: 50px
}

.menu a {
    font-family: "Poppins", sans-serif;
    color: var(--w);
    text-decoration: none;
}

.menu nav a::after {
    content: "";
    height: 2px;
    width: 0%;
    background-color: var(--p2);
    display: block;
}

.menu a:hover::after {
    transition: 0.2s;
    width: 100%;
}

@media(max-width: 600px) {
    .menu-content {
        flex-direction: column;
        align-items: start;
        gap: 30px;
    }

    .menu nav {
        gap: 15px;
        flex-wrap: wrap;
    }

    .menu nav a {
        padding: 15px 25px;
        background-color: var(--c11);
        border-radius: 5px;
        margin: 0px;
    }

    .menu a:hover::after {
        width: 0%;
    }
}