.partners-content {
    margin-top: 120px;
    padding: 0px 20px;
}

.partners-content ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
    padding: 100px 0px;
    justify-items: center;
    grid-row: auto;
    margin: auto;
}

.partners-content ul li {
    padding: 30px 0px;
}

.partners-content ul li img {
    width: 100%;
}

@media(max-width: 1200px) {
    .partners-content {
        margin-top: 0px;
    }
}

@media(max-width: 1000px) {
    .partners-content ul{
        grid-template-columns: 1fr 1fr 1fr;
        padding: 80px 0px;
    }
}

@media(max-width: 800px) {
    .partners-content ul{
        grid-template-columns: 1fr 1fr;
        padding: 60px 0px;
    }
}

@media(max-width: 500px) {
    .partners-content ul{
        width: 300px;
        padding: 3 0px 0px;
    }

    .partners-content ul li {
        padding: 15px 15px;
    }
}