
.menu {
    background-color: var(--c12);
}

.menu-content {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 30px;
}

.menu nav {
    display: flex;
    gap: 50px
}

.menu a {
    color: var(--w);
    text-decoration: none;
}

@media(max-width: 600px) {
    .menu-content {
        flex-direction: column;
        align-items: start;
        gap: 30px;
    }

    .menu nav {
        gap: 15px;
        flex-wrap: wrap;
    }

    .menu nav a {
        padding: 15px 25px;
        background-color: var(--c11);
        border-radius: 5px;
    }
}